/* Mobile */
@media(max-width: 768px) {
    header {
        width: 100%;
        height: 70px;
    }

    header h1 {
        font-size: 1.5em;
    }

    section {
        background-color: #fff;
        font-size: 1em;
        margin: 115px 20px 20px 20px;
        padding: 20px;
    }

    #flex-container .row1 {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        padding: 20px;
    }

    .box1, .box2 {
        width: 100%;
        /* border: 2px solid red; */
    }
    
    .box1 img {
        width: 100%;
        height: 100%;
    }

    .box2 {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .box2 ul {
        padding: 0 20px 25px 20px;
    }

    .box2 h2 {
        padding: 10px;
    }

    #flex-container .row2 {
        display: flex;
        flex-direction: column;
        /* border: 2px solid black; */
        font-size: 1em;
        padding: 20px;
    }

    .box3, .box4 {
        width: 100%;
        /* border: 2px solid red; */
    }
    
    .box3 img {
        width: 100%;
        height: 100%;
    }

    .box4 {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .box4 ol {
        padding: 0 20px 25px 20px;
    }

    .box4 h2 {
        padding: 10px;
    }

    footer a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 1em;
    }

    footer p {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #fff;
        height: 40px;
    
    }
}
