@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    font-family:'Raleway', sans-serif;
    background-color: #c9cdcd;
}

section {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #fff;
    /* border: 2px solid black; */
    font-size: 1.5em;
    margin: 90px 50px 0 50px;
}

section h2 {
    padding: 0 0 5px 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70px;
    background-color: #000;
    opacity: 0.84;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    color: #fff;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

/* Row 1*/
#flex-container .row1 {
    display: flex;
    padding: 50px;
    flex-direction: row;
    /* border: 2px solid black; */
    font-size: 1.5em;
}

.box1, .box2 {
    width: 50%;
    /* border: 2px solid red; */
}

.box1 img {
    width: 100%;
    height: 100%;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.box2 h2 {
    padding: 0 10px 20px 10px;
}


/* Row 2*/

#flex-container .row2 {
    display: flex;
    padding: 0 50px 50px 50px;
    flex-direction: row-reverse;
    /* border: 2px solid black; */
    font-size: 1.3em;
}

.box3, .box4 {
    width: 50%;
    /* border: 2px solid red; */
}

.box3 img {
    width: 100%;
    height: 100%;
}

.box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.box4 h2 {
    padding: 0 10px 0 10px;
}

.box4 ol {
    padding: 40px;
}



/* Footer */
 footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: #000;
}

footer a {
    text-decoration: none;
    padding: 35px;
    font-size: 1.3em;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #00e676;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    height: 70px;
    font-size: 0.7em;

}

